<mat-toolbar> <span>Registration</span> </mat-toolbar>
<form [formGroup]="myForm">
  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label>First Name</mat-label>
      <input
        matInput
        required
        [email]="register.Email !== ''"
        placeholder="Email"
        name="Email"
        id="Email"
        [(ngModel)]="register.Email"
        formControlName="Email"
        required
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" name="lname" required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Address" name="address" required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" name="email" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" name="password" />
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">REGISTER</button>
  </mat-card-actions>
</form>
