<mat-toolbar> <span>Registration</span> </mat-toolbar>
<form (ngSubmit)="Register(register)" [formGroup]="myform">
  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        required
        [email]="register.Email !== ''"
        placeholder="Email"
        name="Email"
        id="Email"
        [(ngModel)]="register.Email"
        formControlName="Email"
      />
      <mat-error
        *ngIf="
          myform.controls.Email.errors?.required &&
          myform.controls.Email.touched
        "
        >Email is required</mat-error
      >
      <mat-error
        *ngIf="
          myform.controls.Email.errors?.email && myform.controls.Email.touched
        "
        >Invalid email</mat-error
      >
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        required
        type="password"
        placeholder="Password"
        name="Password"
        id="Password"
        [(ngModel)]="register.Password"
        formControlName="Password"
      />
      <mat-error *ngIf="myform.controls.Password.invalid"
        >Password is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        required
        placeholder="Confirm password"
        id="ConfirmPassword"
        [(ngModel)]="register.ConfirmPassword"
        formControlName="ConfirmPassword"
      />
      <mat-error
        *ngIf="
          myform.controls.ConfirmPassword.touched &&
          myform.controls.ConfirmPassword.errors?.required
        "
        >Confirm password is required</mat-error
      >
      <mat-error
        *ngIf="
          myform.controls.ConfirmPassword.touched &&
          myform.controls.ConfirmPassword.errors?.notEqual &&
          !myform.controls.ConfirmPassword.errors?.required
        "
        >Password and Confirm Password does not match</mat-error
      >
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="myform.invalid">
      REGISTER
    </button>
  </mat-card-actions>
</form>
